

.header_main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 93px;
    padding-top: 18px;
    padding-right: 80px;
    padding-left: 292px;
    background-color: #fcfdfe;
}

.header_main .header_left {
    position: relative;
    float: left;
    margin-top: 12px;
}

.header_main .header_left .logo {
    display: none;
    float: left;
}

.header_main .header_left .left-logo {
    float: left;
    margin-left: 2px;
}

.header_main .header_left .left-logo a { display: block; }

.header_main .numbers {
    float: left;
    margin-left: 72px;
}

.header_main .numbers a {
    display: block;
    float: left;
    width: 38px;
    height: 38px;
    margin-right: 5px;
    font-family: 'Avenir Light';
    font-size: 20px;
    color: #6c6e71;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.header_main .numbers a:hover,
.header_main .numbers a.active {
    color: #fff;
    background-color: #31a4b3;
}


.header_right {
    position: relative;
    float: right;
}

.header_right > ul {
    display: block;
    float: left;
    width: 100%;
}

.header_right > ul > li {
    position: relative;
    display: inline-block;
    min-height: 59px;
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
    vertical-align: middle;
}

.header_right > ul > li:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(49,164,178,.10);
    content: "";
}

.header_right > ul > li:last-child { padding-top: 0; }

.header_main .header_right > ul > li:last-child { padding-top: 0; }

.header_right .notify-block {}

.header_right a.notify {
    position: relative;
    display: block;
}

.header_right a.notify span {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 13px;
    height: 13px;
    background-color: #ffb400;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.header_right .icon {
    display: inline-block;
    vertical-align: middle;
}

.header_right .text {
    display: inline-block;
    font-family: 'Avenir Medium';
    font-size: 30px;
    color: #58b5c1;
    vertical-align: middle;
}
.header_right .text:focus{
    outline: none;
}
.header_right ul li.flat-menu{
    display: none;
}
.header_left .avatar,
.header_right .avatar {
    position: relative;
    display: block;
    width: 59px;
    height: 59px;
    border: solid 3px #58b4c0;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    cursor: pointer;
}
.header_left .avatar:hover,
.header_right .avatar:hover{
    box-shadow: 0px 0px 10px 0px #9e9a9a;
    transform: scale(1.1,1.1);
}

.header_left .avatar{
    width: 50px;
    height: 50px;
}

.header_left .avatar img,
.header_right .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.dropdown-menu{
    right: 0;
    left: auto;
    top: 100%;
}

.header_left .dropdown-menu,
.header_right > ul > li .dropdown-menu {
    right: 0;
    left: auto;
    margin-top: 15px;
    padding: 0;
    border: none;
    border-top: solid 1px #58b5c1;
    box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -ms-border-radius: 0;
    -webkit-border-radius: 0;
    transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
}

.header_left .dropdown-menu li,
.header_right > ul > li .dropdown-menu li {
    border-bottom: solid 1px #85c7d0;
}

.header_left .dropdown-menu li a,
.header_right > ul > li .dropdown-menu li a {
    font-size: 14px;
    /*padding-top: 10px;*/
    padding-bottom: 10px;
    padding-left: 30px;
    color: #fff;
    background: none;
    background-color: #58b5c1;
}

.header_left .dropdown-menu li a:hover,
.header_right > ul > li .dropdown-menu li a:hover {
    background-color: rgb(48,156,169);
}

.mobile_nav {
    display: none;
}

.menu-btn {
    position: relative;
    display: none;
    float: left;
    width: 30px;
    margin-top: 8px;
    margin-right: 20px;
    margin-left: 10px;
}

.menu-btn span {
    display: block;
    height: 4px;
    margin-bottom: 3px;
    background: #31a4b2;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.menu-btn span:last-child { margin-bottom: 0; }

.menu-btn span:first-child { width: 100%; }

.menu-btn span:nth-child(2) { width: 25px; }

.menu-btn span:last-child { width: 20px; }

.menu-btn:hover span,
.menu-btn.active span { }
@media (max-width: 991px) and (min-width: 768px){
    .header_right ul li.flat-menu{
        display: inline-block;
    }
}

