.pay-success{
    padding:15px 20px;
    margin: 100px auto;
    max-width: 500px;
    background: white;
    text-align: center;
}
.pay-success p .btn{
    color: white;
}

@media (max-width: 768px) {
    .pay-success{
        width: 94%;
        margin: 20px 3%;
    }
}