<footer class="landing-footer" id="copyright">
   <div class="container">
      <div class="link-list">
         <a target="_blank" href="https://chinese.ponddy.com/terms/">Home</a>
         <a target="_blank" href="https://chinese.ponddy.com">Ponddy Chinese</a>
         <a target="_blank" href="https://chinese.ponddy.com/copyright/">Copyright © 2016 Ponddy Education Inc.</a>
         <!--<a target="_blank" href="http://support.ponddy.com/chinese/">Tutorials</a>-->
      </div>
   </div>
</footer>