.course-detail{
	padding: 30px;
}
@media (max-width: 767px) {
	.course-detail{
		padding: 20px 5px;
	}
}
.course-table{
	width: 100%;
	margin-top: 40px;
	background: #fff;
	border: 1px solid #fff;
}
.course-table thead{
	background: rgb(235,245,247);
}
.course-table thead tr{
	height: 40px;
	line-height: 40px;
}
.course-table tbody tr{
	padding: 20px 0;
}
.course-table tbody td{
	height: 120px;
	position: relative;
	/*border-right: 1px dashed rgb(214,214,214);*/
}
.course-table tbody td:after{
	content: "";
	position: absolute;
	top: 50%;
	right:0;
	height: 60%;
	width: 1px;
	border-right: 1px dashed rgb(214,214,214);
	transform: translateY(-50%);
}
.course-table tbody td:last-child:after{
	border: none;
}
.students-box{
	text-align: center;
}
.students{
	display: inline-block;
	width: 30%;
}
.students .pic{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}
.students .name{
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}
.order-class{
	padding: 10px 20px;
	background: rgb(243,249,249);
}
table{
	width: 100%;
	border: none;
}
table td{
	border: 1px solid #fff;
	padding: 5px 0;
}
table tr:first-child td{
	border-top: none;
}
table tr:last-child td{
	border-bottom: none;
}
table tr td:first-child{
	border-left: none;
}
table tr td:last-child{
	border-right: none;
}
.leaveMsg{
	background: rgb(243,249,249);
	padding: 10px;
}
.order-result{
	overflow: hidden;
	padding: 5px 0;
}
.order-result p{
	width: 50%;
	float: left;
	margin: 0;
}
.examine-tutor{
	border-right: 1px solid rgb(224,224,224);
}
.course-record{
	padding: 10px 20px;
	background: rgb(243,249,249);
}
.timeline td{
	text-indent: 20px;
}
.timeline-separator:before{
	border-radius: 5px;
	background: rgb(177,214,223) !important;
	color: rgb(85,85,81) !important;
}
.title-back{
	overflow: hidden;
}
@media (max-width: 700px) {
	.table-box{
		overflow: scroll;
	}
}
.table-box>table{
	min-width: 700px;
}